html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* GENERAL STYLES */

html {
    font-size: 62.5%;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

h1,
h2,
h3 {
    font-family: 'Lobster Two', cursive;
    margin: 0;
}

h1 {
    font-size: 14rem;
    color: white;
    text-shadow: 5px 8px #3C1642;
}

h2 {
    font-size: 4rem;
    color: white;
    margin: 4rem 0;
    text-shadow: 2px 2px #3C1642;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

p {
    margin: 0;
    line-height: 1.6;
}

body {
    font-family: 'Cabin', sans-serif;
    font-size: 1.8rem;
    color: #333333;
}

/* HEADER STYLES */

header {
    background-color: #679436;
}

.headerContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.button {
    margin-top: 4rem;
}

button {
    font-family: inherit;
    background-color: #3C1642;
    border-radius: 5px;
    border: solid 5px transparent;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
}

.headerContainer a:hover,
.headerContainer a:focus,
button:hover,
button:focus {
    background-color: #F9F0FA;
    color: #3C1642;
    border: solid 5px #3C1642;
}

/* FORM STYLES */
section {
    padding: 5rem 0;
}

.flavourForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flavourForm div {
    margin: 1.5rem 0;
}

select {
    font-family: inherit;
    width: 300px;
    text-align: center;
    padding: 1.5rem 2.5rem;
    appearance: none;
    border: 1px solid #333333;
    border-radius: 5px;
    background: url("./assets/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 2.5rem top 60%, 0 0;
    background-size: 7%;

}

select:hover {
    background: #F9F0FA url("./assets/arrow.svg");
    background-repeat: no-repeat;
    background-position: right 2.5rem top 60%, 0 0;
    background-size: 7%;
}


/* RESULT SECTION STYLES */

.resultSection {
    padding: 0;
}

.resultSection,
.descSection {
    display: none;
}

.showSection {
    display: block;
}

.gifHolder {
    width: 100%;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    list-style: none;
    padding: 0;
}

ul li {
    background: #F9F0FA;
    box-shadow: 6px 6px #3C1642;
    border: 1px solid #3C1642;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    padding: 2rem;
    cursor: pointer;
}

li:hover,
li:active,
li:focus {
    background-color: #3C1642;
    color: white;
    box-shadow: 6px 6px #333333;
}


/* .clicked {
    background-color: #3C1642;
    color: white;
    box-shadow: 6px 6px #333333;
} */

.instructions h3 {
    margin: 4rem 0;
    text-align: center;
}

/* DESCRIPTION SECTION STYLES */

.descSection {
    padding-top: 0;
}

.descHolder {
  width: 75%;
  margin: auto;
  text-align: justify;
}

/* FOOTER STYLES */

footer {
    background-color: #62246B;
    text-align: center;
    color: white;
    padding: 1rem 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

footer a:hover {
    text-decoration: underline;
}

/* MEDIA QUERIES */

@media (max-width: 500px) {
    h1 {
        font-size: 10rem;
    }
    .descHolder {
        width: 100%;
        text-align: left;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 8rem;
    }
    h2 {
        font-size: 3rem;
    }
    .headerContainer {
        height: 70vh;
    }
    select {
        width: 250px;
    }
}